*
{
    box-sizing: border-box;
}
.navbar-collapse 
{
    flex-grow: 0;
}
.bg-light 
{
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}
.nav-background 
{
    height: 100%;
}
header 
{
    background-image: url(../images/intro-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 20px 0;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link
{
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-brand 
{
    color: rgb(255, 255, 255);
    font-size: 28px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link 
{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover 
{
    color: rgb(255, 255, 255);
}
.navbar-expand-lg .navbar-collapse 
{
    width: 50%;
}
.navbar-expand-lg .navbar-nav 
{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand 
{
    color: rgb(255 255 255);
    font-size: 28px;
    font-weight: 600;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover 
{
    color: rgb(255 255 255);
    font-size: 28px;
    font-weight: 600;
}
.navbar-nav li 
{
    padding: 10px 0px;
    
}
nav
{
    position: relative;
    z-index: 999999999999999999999;
    top: 0px;
}
.fix 
{
    width: 100%;
}
.header-info h1 {
    font-size: 72px;
    margin-bottom: 24px;
    font-weight: 600;
}
.header-info h3 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
}
.header-info h3::before {
    content: "";
    width: 5px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 27%;
    right: 35%;
}
.about 
{
    background-color:#F5F5F5;
}
.box-shadow-full
{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.about-info
{
    text-align: start;

}
.para
{
    font-weight: 600;
    font-size: 1.1rem;
}
.about-div
{
    position: relative;
}
.before::before
{
    content: "";
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    position: absolute;
   top: 40px;
}
.about-para
{
    margin-top: 33px;
    line-height: 1.5;
}
.service
{
    background-color:#F5F5F5;
    text-align: center;
    padding-top: 3rem !important; 
}
.ser
{
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center; 
}
.line-mf
{
    width: 40px; 
    height: 5px;
    margin: auto;
    background-color:#0078ff ;
}
.service-box
{
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    text-align: center;
}
.service-icon i
{
   font-size: 2.5rem;
}
.ico-circle
{
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    box-shadow: 0 0 0 10px rgba(0,120,255,1);
    margin: auto;
    margin-bottom: 20px;
    transition: 0.5s;
}
.service-box:hover .ico-circle
{
    background-color:#0078ff;
    box-shadow: 0 0 0 10px rgba(0,120,255,0.3);
    color: #fff;
    cursor: pointer;
}
.section-counter
{
    background-image: url(../images/counters-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 8rem 0;
}
.overlay
{
    background-color:#0078ff;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}
.ico-circle-counter 
{
    height: 70px;
    width: 70px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    box-shadow: 0 0 0 10px rgba(205,225,248,0.9);
    margin: auto;
}
.portfolio
{
    background-color: #f5f5f5;
    padding-top: 4rem;
}
.work-content
{
    padding: 2rem 1rem;
    position: relative;
    z-index: 2;
}
.w-ctegory
{
    font-size: 13px;
    color: #0078ff;
}
.w-date
{
    color: #4e4e4e;
    font-size: 13px;
}
.work-box
{
    overflow: hidden;
}
.work-img
{
    transition: transform 1s;
}
.work-box:hover .work-img
{
    transform: scale(1.3);
    cursor: pointer;
}
.bi
{
    color:#0078ff ;
}
.testimonials
{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
    padding: 8rem 0rem;
    position: relative;
}
.carousel-item img
{
    width: 100px;
    height: 100px;
}
.carousel-inner
{
    overflow: visible;
}
/* .carousel-indicators
{
    width: 12px !important;
    height: 12px !important;
    border-radius : 50% !important;
    text-align: center !important;
    background-color: #fff !important;
} */
.blog
{
    padding-top: 4rem;
}
.card-body
{
    position: relative;
}
.card-category-box
{
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}
.card-category
{
    display: inline-block;
    color: #fff;
    padding:  10px 15px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
}
.category
{
    display: inline-block;
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    margin-bottom: 0px;
}
.card-footer img
{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}
.card-title
{
    transition: color 0.5s;
}
.card-title:hover
{
    color:#0078ff;
    cursor: pointer;
}
.text-muted
{
    color: #1e1e1e !important;
    transition: color 0.5s;
}
.text-muted:hover
{
    color:#0078ff !important;
    cursor: pointer;
}
.contact
{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0 0 0;
    margin-top: 4rem;
    position: relative;
}
.contact-fm
{
    margin-top: 4rem;
}
.box-shadow
{
    padding: 3rem;
    position: relative;
    z-index:1000000000;
    margin-bottom: 3rem;
    background-color: #fff;
}
.title-b 
{
    font-size: 2rem !important;
    position: relative;
    color: #1e1e1e;
}
.title-b::before
{
    content: "";
    position: absolute;
    bottom: -12px;
    height: 3px;
    width: 100px;
    background-color:#0078ff;
}
.button-a
{
    background-color: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition:box-shadow 0.5s ;
}
.button-a:hover
{
    background-color:#0078ff;
    box-shadow: 0 0 0 5px rgba(0,120,255,0.3);
    color: #fff;
    cursor: pointer;
}
.title-c
{
    font-size: 2rem !important;
    position: relative;
    color: #1e1e1e;
}
.title-c::before
{
    
    content: "";
    position: absolute;
    bottom: -12px;
    height: 3px;
    width: 100px;
    background-color:#0078ff;
}
.list-icon
{
    list-style: none;
    line-height: 2;
}
.list-icon span
{
    color: #0078ff;
    margin-right: 10px;
}
.social
{
    padding: 1.5rem 0;
}
.social ul
{
    list-style: none;
    padding: 0;
}
.icon-circle
{
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    border-radius: 50%;
    line-height: 1.8;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 0.5s;
}
.icon-circle:hover
{
    cursor: pointer;
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 3px rgba(0,120,255,0.3);
}
.footer
{
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background-color: #0062d3;
   
}
.credit a
{
    text-decoration: none;
    color: #fff;
}
